<!DOCTYPE html>
<html>

<head>
    <title>{{ name }}'s Resume</title>
</head>

<body>
    <div class="header">
        Jumpwhere
    </div>

    <br><br>

    <div class="section">
        <h2>Name:</h2>
        <p>{{ name }}</p>
        <div class="separator"></div>

        <h2>Description:</h2>
        <p>{{ summary }}</p>
        <div class="separator"></div>

        <h2>Tech Stack:</h2>
        {% for tool in codingtools %}
            <p>{{ loop.index }}. {{ tool }}</p>
        {% endfor %}
        <div class="separator"></div>

        <h2>Projects Worked On:</h2>
        {% for project in projects %}
            <p>{{ loop.index }}. {{ project }}</p>
        {% endfor %}
    </div>
</body>

</html>
